.note-group-list {
    margin-top: 10px;
    width: 80%;
}

.note-group-list .note-group-item {
    position: relative;
    padding: 16px;
    border-radius: 4px;
}

.note-group-list .note-group-item:hover {
    background: #f4f4f4;
}

.note-group-list .note-group-item.active {
    background: #f4f4f4;
}

.note-group-list .note-group-item p {
    line-height: 24px;
}

.note-group-list .note-group-item .time {
    font-size: 12px;
    color: #666666;
}

.note-group-list .note-group-item .remove {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
    color: #666;
    cursor: pointer;
}

.note-group-list .note-group-item:hover .remove {
    display: initial;
}