/* 笔记列表 */
.note-group-list {
    margin-top: 10px;
    width: 90%;
}

.note-group-list .note-group-item {
    position: relative;
    padding: 16px;
    border-radius: 4px;
}

.note-group-list .note-group-item:hover {
    background: #f4f4f4;
}

.note-group-list .note-group-item.active {
    background: #f4f4f4;
}

.note-group-list .note-group-item p {
    line-height: 24px;
}

.note-group-list .note-group-item .time {
    font-size: 12px;
    color: #666666;
}

.note-group-list .note-group-item .icon {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.note-group-list .note-group-item:hover .icon {
    display: initial;
}

.note-group-list .note-group-item .icon.remove {
    top: 5px;
}

.note-group-list .note-group-item .icon.view {
    top: 30px;
}

.note-group-list .note-group-item .icon.download {
    top: 54px;
}

/* 分类列表 */
.noteCategoriesMask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    display: none;
}

.noteCategories {
    z-index: 9999;
    position: absolute;
    top: 42px;
    left: -4px;
    width: 300px;
    border: 1px solid #c8ccd3;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(15, 32, 65, .2);
    background: white;
    display: none;
}

.noteCategories .title {
    height: 54px;
    line-height: 54px;
    margin-top: 6px;
    padding-left: 20px;
}

.noteCategories .title .add {
    display: inline-block;
    float: right;
    margin-right: 16px;
    cursor: pointer;
}

.noteCategories .title .add:hover {
    color: #009688;
}

.noteCategories .category-group {
    height: 480px;
    overflow-y: auto;
}

.noteCategories .category-group .category-group-item {
    height: 48px;
    line-height: 48px;
    padding-left: 22px;
    position: relative;
}

.noteCategories .category-group .category-group-item:hover {
    background: #f4f4f4;
}

.noteCategories .category-group .category-group-item .item-icon {
    position: absolute;
    top: 0;
    left: 22px;
    display: none;
}

.noteCategories .category-group .category-group-item .item-text {
    margin-left: 40px;
    display: block;
}

.noteCategories .category-group .category-group-item:first-child .item-text {
    border-bottom: 1px solid #e8eaeb;
}

.noteCategories .category-group .category-group-item:last-child .item-text {
    border-top: 1px solid #e8eaeb;
}

.noteCategories .category-group .category-group-item .item-action {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
}

.noteCategories .category-group .category-group-item:hover .item-action {
    display: inherit;
}

.noteCategories .category-group .category-group-item.active .item-action {
    display: none !important;
}

.noteCategories .category-group .category-group-item .item-action .icon {
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.noteCategories .category-group .category-group-item.active {
    color: #009687;
}

.noteCategories .category-group .category-group-item.active .item-icon {
    display: inline;
}

/* 笔记预览 */
.noteContent {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
    padding: 10px;
    overflow-y: auto;
}

.noteContent .title {
    line-height: 26px;
    position: relative;
    padding: 0 20px;
    margin-bottom: 10px;
}

.noteContent .title .label {
    position: absolute;
    display: inline-block;
    background: #009687;
    width: 8px;
    left: 0;
    top: 0;
}

.noteContent .title .text {
    font-weight: bold;
}

.noteContent .title .close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.noteContent .title .close:hover {
    color: #009687;
}

.noteContent .body {
    line-height: 26px;
}